<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlejie">

    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".ui.image.PopImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimationTheme" />

    </application>

</manifest>
